doctype html
html(ng-app='app')
  head
    title <%= appName %>
    link(href='css/main.css' rel='stylesheet')
  body
    h1 <%= appName %>
    script(data-main='js/main.js' src='components/requirejs/require.js')
