doctype html
html
  head
    meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
    meta(content="utf-8" http-equiv="encoding")
    title <%= appName %>
    link(href='css/main.css' rel='stylesheet')
  body
    h1 <%= appName %>
    script(src='lib/jquery.js')
    script(src='js/main.js')
